<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= t('welcome') %>
    </div>
    <div class="col text-strong">
      <%= t('site.title') %>
    </div>
  </div>
</div>
